.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", san-serif;
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

img {
  display: block;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.button {
  display: inline-block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: #ffffff;
  padding: 10px 32px;
  min-width: 200px;
  height: 50px;
  background-color: #2196f3;
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
  background-color: #188ce8;
}

.logo {
  font-family: "Raleway", san-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.logo-web {
  color: #2196f3;
}

.logo-studio {
  color: #000000;
}

.titles {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.social-list {
  display: flex;
  justify-content: space-between;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-svg {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.social-list-link:hover .social-list-svg,
.social-list-link:focus .social-list-svg {
  fill: #ffffff;
}

.header {
  padding: 24px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .navigation {
  display: flex;
}

.navigation-list {
  display: flex;
  align-items: center;
}

.header .address {
  margin-left: auto;
}

.address-list {
  display: flex;
}

.header .logo {
  margin-right: 93px;
}

.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}

.address-list-item:not(:last-child) {
  margin-right: 30px;
}

.navigation-list-link {
  position: relative;
  padding-top: 31px;
  padding-bottom: 31px;
  font-family: "Roboto", san-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current-page {
  color: #2196f3;
}

.current-page::after {
  position: absolute;
  bottom: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.address-list-link {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-list-link:hover,
.navigation-list-link:focus,
.address-list-link:hover,
.address-list-link:focus {
  color: #2196f3;
}

.logo:focus {
  font-family: "Raleway", san-serif;
}

.icon-address-svg {
  margin-right: 10px;
  fill: #757575;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list-link:hover .icon-address-svg,
.address-list-link:focus .icon-address-svg {
  fill: #2196f3;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-nav-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav-list-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-btn {
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px;
  font-family: "Roboto", san-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-style: none;
  color: #212121;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.portfolio-examples {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-examples-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.portfolio-examples-content {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.portfolio-examples-name {
  margin-bottom: 4px;
}

.portfolio-examples-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-examples-item:not(:nth-child(3n)) {
  margin-right: 30px;
}

.portfolio-examples-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.portfolio-examples-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio-examples-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-examples-item:hover .overlay {
  transform: translateY(0%);
}

.examples-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-bottom: 63px;
  padding-right: 24px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(101%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer {
  background-color: #2f303a;
}

.footer .container {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: block;
  margin-bottom: 20px;
}

.footer .logo-studio {
  color: #ffffff;
}

.footer-list-item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-list-street {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-list-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-list-street:focus,
.footer-list-link:focus {
  font-style: normal;
}

.footer > .container {
  display: flex;
}

.contact-info {
  margin-right: 70px;
}

.footer-subtitle {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.footer .social-list-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-list-link:hover,
.social-list-link:focus {
  background-color: #2196f3;
}

.footer .social-list-svg {
  fill: #ffffff;
}

.newsletter-form {
  display: flex;
}

.newsletter {
  margin-left: auto;
}

.input {
  display: inline-block;
}

.footer-input {
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
}

.newsletter .button {
  display: inline-flex;
  align-items: center;
  padding-left: 29px;
  padding-right: 29px;
  text-align: center;
}

.newsletter-svg {
  margin-left: 10px;
  width: 24px;
  height: 24px;
}
/*# sourceMappingURL=portfolio.css.map */
