.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;

  .header & {
    display: flex;
    align-items: center;
  }

  .heroe & {
    padding-top: 200px;
    padding-bottom: 200px;
    padding-left: 250px;
    padding-right: 250px;
  }

  .clients &,
  .team & {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .footer & {
    display: flex;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
